@use 'vars';

body {
  font-family: 'Lora';
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../assets/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header-title {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  font-family: 'Raleway';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  &-main {
    margin: 1rem;
    font-size: 5rem;
    font-weight: 800;
    background-image: linear-gradient(90deg, vars.$colorYellow 0%, rgb(255, 234, 205) 35%, vars.$colorYellow 70%);
    background-clip: text;
	  -webkit-text-fill-color: transparent;
  }
  
  &-slogan {
    font-size: 2.5rem;
    font-weight: 300;
    color: vars.$colorWhite;
  }
}

