@use 'vars';


.header-title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-family: 'Raleway';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  &-main {
    margin: 1rem;
    font-size: 5rem;
    font-weight: 800;
    background-image: linear-gradient(90deg, vars.$colorYellow 0%, rgb(255, 234, 205) 35%, vars.$colorYellow 70%);
    background-clip: text;
	  -webkit-text-fill-color: transparent;
  }
  
  &-slogan {
    font-size: 2.5rem;
    font-weight: 300;
    color: vars.$colorWhite;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: vars.$colorBrown;
  font-family: 'Raleway';
  font-weight: 800;
  color: rgba(vars.$colorWhite, 0.7);
  font-size: 1rem;
  text-transform: uppercase;

  &-links {
    margin: 2.5rem 2rem;

    &-active {
      margin: 2.5rem 3rem;
      color: vars.$colorYellow;
    }
  }

  &-links:hover {
    color: rgba(vars.$colorWhite, 0.4);
  }

}



@media (min-width: 700px) {

  .header-title {
   
    &-main {
      font-size: 3rem;
    }
    
    &-slogan {
      font-size: 2rem;
    }
  }

  .navbar-links {
    padding: 0.8rem 0;
    font-size: 0.9rem;
  }

  .navbar-links-active {
    padding: 0.8rem 0;
  }
}

@media (min-width: 1400px) {
  .navbar-links {
    padding: 1rem 0;
    font-size: 1rem;
  }

  .navbar-links-active {
    padding: 1rem 0;
    font-size: 1rem;
  }
}

@media (min-width: 1700px) {
  .header-title {
   
    &-main {
      font-size: 5rem;
    }
    
    &-slogan {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 700px) {

  .header-title {
   
    &-main {
      font-size: 1.7rem;
      font-weight: 800;
    }
    
    &-slogan {
      font-size: 1.1rem;
      margin-top: 0.5rem;

    }
  }
  
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.7rem;

  
    &-links {
      margin: 0.2rem;
      padding: 1rem 0;
  
      &-active {
        margin: 0.2rem;
        padding: 1rem 0;
      }
    }

  }
}
