@use 'reset';
@use 'vars';

@use 'header';
@use 'footer';
@use 'home';

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}


body {
  font-family: 'Lora';
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../assets/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white
}